<!-- <div ng-include="'app/components/navbar/navbar.html'"></div>
 -->
<div class="container">
    <div class="row">
        <div class="col-md-12" id="alertContainer3" ng-show="notification" ></div>
    </div>
 <div class="row">
          <button class="btn btn-sm btn-success"
             data-template-url="app/donor/new_item.html"
             data-animation="am-fade-and-scale"
             bs-modal="showModal">Add Item
          </button><br></br><br></br>
	</div>
   <div class="row">
        <div class="col-md-6">
            <div class="list-group">
                <ul>
                    <li class="list-group-item" ng-repeat="list in lists">
                        <p>Food Type: {{list.donorsFoodType}}</br>Diet Type: {{ list.donorsDietType }}</br> Description: {{ list.detail }}</br> Quantity: {{ list.quantity}}</br>
                            <button ng-click="deleteItem(list)" class="btn btn-sm btn-warning" data-title="DELETE Item  -  Cannot be Undone" bs-tooltip>DELETE</button>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
<!-- 	</div>
<div class="row"> -->
          <button class="btn btn-danger"
             data-template-url="app/donor/filter_receivers.html"
             data-animation="am-fade-and-scale"
             bs-modal="showModal">Find Receivers
          </button><br> </br><br> </br>
              <div class="col-md-6">
            <div class="list-group">
                <ul>
                    <li class="list-group-item" ng-repeat="receiver in closestReceivers">
                        <p>Email: {{receiver.email}}</br>Ein : {{receiver.name}}</br> Address: {{receiver.address}}</br>
<!--                             <button ng-click="deleteItem(list)" class="btn btn-sm btn-warning" data-title="DELETE Item  -  Cannot be Undone" bs-tooltip>DELETE</button> -->
                        </p>
                    </li>
                </ul>
            </div>
        </div>
       <button class="btn btn-primary"
               data-template-url="app/donor/submit_transaction.html"
               data-animation="am-fade-and-scale"
               bs-modal="showModal">Send all
       </button><br> </br> <br> </br>
</div>		
  <!--
        <div class="col-md-8">
            <table st-table="users" class="table table-striped">
                <thead>
                    <tr>
                        <th>first name</th>
                        <th>last name</th>
                        <th>birth date</th>
                        <th>balace</th>
                        <th>email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in users">
                        <td>{{row.name | uppercase}}</td>
                        <td>{{row.email}}</td>

		<td>{{row.birthDate | date}}</td>
		<td>{{row.balance | currency}}</td>

                        <td>
                            <button class="btn btn-sm" popover-placement="top" popover="{{row.email}}" type="button">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </button>
                            <a ng-href="mailto:{{row.email}}">email</a></td>
                        <td>
                            <button type="button" ng-click="deleteUser(user)"
                                class="btn btn-sm btn-warning" data-title="DELETE User  -  Cannot be Undone" bs-tooltip>DELETE
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->
</div>