<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
      </div>

    <div class="modal-body" ng-show="content">
      <div class="edit-look-title">
       <h2>New item</h2>
      </div>

      <div class="form-group">
<label>Food Type &nbsp;</label>
<button type="button" class="btn btn-default" ng-model="list.donorsFoodType" data-html="1" bs-options="itemFilter.value as itemFilter.label for itemFilter in itemFilters" bs-select>
  Action <span class="caret"></span></button></br>
	  <label>Type of Diet</label>
      <button type="button" class="btn btn-default" ng-model="list.donorsDietType" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="itemDiet.value as itemDiet.label for itemDiet in itemDiets" bs-select>
  Action <span class="caret"></span></button></br>
     <label>Description</label>
       <input type="text" class="form-control title-input" ng-model="list.detail" /></br>
     <label>Quantity    &nbsp;&nbsp;&nbsp;&nbsp;</label>
       <input type="text" class="form-control title-input" ng-model="list.quantity" /></br>
      </div>
<!-- 
      <div class="form-group">
        <div class="row listing-description-row">
        <label for="description"
                  class="col-xs-12">Description</label>
          <textarea type="text"
                  class="form-control description-textarea"
                  placeholder="{{ editLook.description }}"
                  ng-model="editLook.description"
                  rows="3" />
            </div>
          </div>

      <div class="form-group">
        <div class="row listing-delete-btn">
          <button ng-click="deleteLook(look)"
                      class="btn btn-warning btn-lg"
                      ng-show="deleteBtn">DELETE LOOK</button>
            </div>
          </div>-->


       <div class="col-md-6" id="alertContainer"></div> 
        </div>
      <div class="modal-footer">
        <button type="button"
                    class="btn btn-default pull-left"
                    ng-click="$hide()">Close</button>
        <button type="button"
          class="btn btn-primary btn-md pull-left"
          ng-click="pushItem(this.list)">Save Item</button>
      </div>
    </div>
  </div>
</div>