<div class="center-block" ng-controller="SignupCtrl as vm">
 <div class="container1 col-md-4 col-md-offset-4">
    <form class="form" name="form" ng-submit="register(form)" novalidate>
		  <h1 class="text-center" style="color: #083858;">Sign Up</h1>
		<formly-form model="vm.model" fields="vm.fields" form="vm.form">
<!-- 			<input class="form-control" g-places-autocomplete options="autocompleteOptions" ng-model="place"/>
				<pre>{{place.formatted_address| json}}</pre>
				<pre>{{place.geometry.location|json }}</pre> -->
			<button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid">Submit</button>
		</formly-form>
    </form>
	<script type="text/ng-template" id="custom-messages.html">
    <div class="my-messages" ng-messages="options.formControl.$error" ng-if="options.validation.errorExistsAndShouldBeVisible">
        <div class="error-message" ng-message="{{::name}}" ng-repeat="(name, message) in ::options.validation.messages">
            {{message(options.formControl.$viewValue, options.formControl.$modelValue, this)}}
        </div>
    </div>
    </script>
</div>
</div>	
